
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:'Museo Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-box{
	border-top:10px solid #EE412C;
}
.search-bar {
	float: right;
	margin-top: -2%;
	box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	-moz-box-shadow: 0 0 3px #AAA;
	-o-box-shadow: 0 0 3px #AAA;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
.search-bar ul li {
	display: inline-block;
	line-height: 1.8em;
}
.search-bar input[type="text"] {
	border: none;
	outline: none;
	padding: 1px 10px 8px;
	background: none;
	color: #666;
	width: 205px;
}
.btn {
	margin: 10px 10px -2px 10px;
}
.follow_icon {
	list-style: none;
	float:right;
}
.follow_icon li {
	float: left;
	margin-left: 13px;
	padding-top: 8%;
}
.follow_icon li a img {
	vertical-align: middle;
}
.follow_icon li a:hover{
	opacity:0.7;
}
/*--menu--*/
.top-nav {
	padding-bottom: 4%;
	color: #000;
}
.top-nav ul li {
	display: inline-block;
}
.top-nav ul li a {
	color: #000;
	font-size:13px;
	font-family: 'Merriweather Sans', sans-serif;
	padding: 17px 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.top-nav li.active> a, .top-nav li> a:hover {
	color: #FFF;
	background: #EE412C;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0755F), to(#EE412C));
	background: -webkit-linear-gradient(top, #F0755F, #EE412C);
	background: -moz-linear-gradient(top, #f0755f, #EE412C);
	background: -ms-linear-gradient(top, #f0755f, #EE412C);
	background: -o-linear-gradient(top, #f0755f, #EE412C);
	background-image: -ms-linear-gradient(top, #f0755f 0%, #EE412C 100%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.header{
	padding: 2% 0;
}
.banner{
	border-bottom:5px solid #EE412C;
}
.logo{
	float:left;
}
/*--content--*/
/*  GRID OF FOUR   ============================================================================= */
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.span_1_of_4 {
	width: 23.8%;
}
.span_1_of_4  h3{
	color:#C94848;
	margin-bottom: .5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
.desc{
	border-bottom: 5px solid #EE412C;
	padding-bottom:40px;
}
.left-text h5 {
	font-size: 10px;
	text-transform: uppercase;
	margin: 4px 0 0 0;
	float: left;
}
.left-text h5 a {
	color:#999;
	text-decoration:underline;
}
.left-text h5 a:hover{
	color:#DD3942;
}
span.price {
	color: #3D3D3D;
	font-size: 20px;
	float: right;
}
.span_1_of_4 img{
	padding-bottom:6%;
}
.active-grid {
	background:#EE412C;
	color: #FFF;
}
.left-text h6 {
	font-size: 10px;
	text-transform: uppercase;
	margin: 4px 0 0 0;
	float: left;
}
.left-text h6 a {
	color:#fff;
	text-decoration:underline;
}
.left-text h6 a:hover{
	text-decoration:none;
}
span.price-last {
	color: #fff;
	font-size: 20px;
	float: right;
}
.last-desc{
	border-bottom: 5px solid #EE412C;
	padding-bottom:40px;
	margin: 0 10px;
}
.heading3 h3 {
	color:#3b3b39;
	margin-bottom: 0.5em;
	font-size: 2em;
	line-height: 1.2;
	font-family: 'Merriweather Sans', sans-serif;
	margin-top: 0px;
	letter-spacing: -1px;
}
.main{
	padding:4% 0 5%;
}
/*  GRID OF Content and sidebar   ============================================================================= */
.cont{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
	background:#EE412C;
}
.lsidebar{
	display: block;
	float:left;
	margin: 1% 0% 1% 0;
} 	
.span_2_of_3 {
	width: 65.8%;
	padding: 2.5%;
}
.span_1_of_3 {
	width: 29.2%;
}
.span_2_of_3  h2,
.span_1_of_3  h2 {
	color:#C94848;
	margin-bottom:0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_2_of_3 p,
.span_1_of_3  p  {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;  
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.lsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:92%;
		padding:4%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
.test-meta{
	font-size: 12px;
	line-height: 1.2em;
	padding: 15px 0;
	border-bottom: 1px solid #F3907F;
	overflow: hidden;
}
span.user {
	font-size: 2.5em;
	line-height: 1.2em;
	color: #FFF;
	margin: 2%;
	font-family: 'Merriweather Sans', sans-serif;
}
span.info{
	font-size:12px;
	line-height:1.2em;
	color:#fff;
	font-family: 'Merriweather Sans', sans-serif;
}
p.paragraph a{
	color:#fff;
	font-family: 'Merriweather Sans', sans-serif;
	line-height:1.8em;
	font-size: 1.25em;
}
p.paragraph a:hover{
	color:#FDE5E0;
}
.bottom-grid1 {
	width: 27%;
	float: left;
	margin-right: 3%;
}
.bottom-grid1 h3, .bottom-grid2 h3 {
	color: #363638;
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 24px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #E9E9E9;
	margin-bottom: 13px;
	text-transform: uppercase;
}
.bottom-grid1 span, .bottom-grid2 span {
	color: #EE412C;
	font-size: 15px;
}
.bottom-grid1 p, .bottom-grid2 p {
	font-size:13px;
	color: rgba(85, 85, 85, 0.53);
	line-height: 1.5em;
	font-family: 'Museo Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
	padding: 8px 0px 10px 0px;
}
.bottom-grid1 ul li a {
	color: #777;
	font-family: 'Museo Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size:13px;
	line-height: 2.5em;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}
.bottom-grid2 {
	float: left;
	width: 33%;
	margin-right: 3%;
}
.bottom-grid2 ul li {
	display: inline-block;
	width: 30%;
	padding: 2.99% 1.34%;
}
.bottom-grid2 ul li img{
	display:block;
}
.button {
  font-family: 'Merriweather Sans', sans-serif;
   background: #EE412C;
   background: -webkit-gradient(linear, left top, left bottom, from(#f0755f), to(#EE412C));
   background: -webkit-linear-gradient(top, #f0755f, #EE412C);
   background: -moz-linear-gradient(top, #f0755f, #EE412C);
   background: -ms-linear-gradient(top, #f0755f, #EE412C);
   background: -o-linear-gradient(top, #f0755f, #EE412C);
   background-image: -ms-linear-gradient(top, #f0755f 0%, #EE412C 100%);
   padding:8.5px 15px;
  	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   color: #fff;
   font-size: 13px;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
  background:#333;
}
/*--footer--*/
.footer-bottom{
	background-color: #232323;
	text-align: center;
	padding: 2%;
}
.copy p{
	color:#fff;
	font-size:13px;
}
.copy p a{
	color:#EE412C;
}
.copy p a:hover{
	text-decoration:underline;
}
/*--about--*/
.span_1_of_a {
	width: 29.2%;
	float:left;
}
.lsidebar1 {
	display: block;
	float: left;
	margin: 1% 1.6% 1% 0;
}
.span_2_of_a {
	width: 66.1%;
}
.cont1 {
	display: block;
	float: left;
	margin: 1% 0 1% 0;
}
.span_2_of_a h3, .span_1_of_a h3 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
.testimonials {
	padding-top: 18px;
	position: relative;
}
.testimonials h3, .sidebar h3 {
	color:#EE412C;
	margin-bottom: 0.5em;
	font-size: 0.9em;
	font-weight: bold;
	margin-top: 0px;
	text-transform: uppercase;
}
.testimonials h3 span a {
	color: #000;
	font-size: 0.9em;
	cursor: pointer;
	text-decoration: underline;
	font-weight: normal;
	padding-left: 10px;
	text-transform: lowercase;
}
.testimonials h3 span a:hover {
	text-decoration:none;
}
.testimonials span.quotes {
	position: absolute;
	left: 0;
	top: 55px;
	width: 30px;
	height: 28px;
	background: url(../images/quotes1.png) no-repeat;
}
.testimonials p {
	font-size: 13px;
	padding: 1.5em 0 0 0;
	color: #6A6A6A;
	line-height: 1.8em;
	text-indent: 35px;
}
.about_desc h2 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-top: 0.5%;
	font-family: 'Merriweather Sans', sans-serif;
}
.about_desc p span {
	font-size: 14px;
	padding: 5px 0;
	color:#EE412C;
	line-height: 1.8em;
}
.image {
	padding-top: 2%;
}
.grid:first-child {
	margin-left: 0;
}
.grid {
	display: block;
	float: left;
	margin: 0% 0 0% 3.6%;
}
.images_3_of_1 {
	width: 35.2%;
}
.grid {
	display: block;
	float: left;
	margin: 0% 0 0% 3.6%;
}
.span_2_of_1 {
	width: 61.1%;
}
.span_2_of_1 h4 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
}
.span_2_of_a p{
	font-size: 13px;
	padding-top: 1%;
	line-height: 1.5em;
}
.more{
	padding-top:6%;
}
.heading {
	padding: 2% 0 0;
}
.heading h3 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
span.item_title_part0 {
	color:#EE412C;
	font-size: 15px;
	cursor: pointer;
}
span.item_title_part0:hover {
	color: #333;
}
.span_1_of_4 p {
	font-size: 0.8125em;
	padding: 0.5em 0;
	color: #333;
	line-height: 1.5em;
}
span.item_title_part0 {
	color:#EE412C;
	font-size: 15px;
	cursor: pointer;
}
span.item_title_part0:hover {
	color: #333;
}
/*--menu--*/
/*  GRID OF THREE   ============================================================================= */
.col_1_of_menu{
	display: block;
	float:left;
	margin: 1% 0 1% 4.7%;
}
.col_1_of_menu:first-child { margin-left: 0; }
.span_1_of_menu {
	width: 30.2%;
}
.span_1_of_menu  h3{
	color:#EE412C;
	margin-bottom:0.5em;
	font-size:1.2em;
	line-height: 1.2;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_menu  p  {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_menu{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_menu {
		width:94%;
		padding:3%;  
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_menu{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_menu {
		width:92%;
		padding:4%;
	}
}
.top-1 {
	margin-top: 5px;
}
.bot-2 {
	margin-bottom: 27px;
}
.list-1 li {
	background: url(../images/bg-li-list.png) 0 11px no-repeat;
	padding: 4px 0 5px 11px;
	font-size: 14px;
	overflow: hidden;
	vertical-align: top;
	color: #5D5252;
	display: block;
}
.list-1 li a {
	color: #5D5252;
	float: left;
	text-decoration: none;
	font-size: 13px;
}
.list-1 li a:hover {
	color: #EE412C;
}
.list-1 li span {
	float: right;
	color: #5D5252;
}
/*--services--*/
.span_2_of_services {
	width: 75.1%;
}
.cont2 {
	display: block;
	float: left;
	margin: 2% 0 2% 0;
}
.sidebar2 {
	width: 21.2%;
}
.lsidebar2 {
	display: block;
	float: left;
	margin: 2% 0 2% 3.6%;
}
.services_desc h2 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
.services_desc p {
	padding: 5px 0;
	line-height: 1.5em;
	font-size: 13px;
	color:#5D5252;
}
.services_desc p span {
	font-family: 'Merriweather Sans', sans-serif;
	color:#EE412C;	
}
.span_2_of_1 h3 {
	font-size:13px;
	color:#EE412C;
	font-family: 'Merriweather Sans', sans-serif;
	text-transform: uppercase;
}
.offers_list h2, .archives h2 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.3em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
.offers_list li, .archives li {
	color: #5D5252;
	font-size: 0.815em;
	padding: 6px 0 6px 20px;
	background: url(../images/marker.png) no-repeat 0;
	cursor: pointer;
}
.read_more a {
	font-family: 'Merriweather Sans', sans-serif;
	font-size:15px;
	text-transform: uppercase;
	color: #333;
	padding-left: 25px;
	background: url(../images/read_more.png) no-repeat 0 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.read_more a:hover {
	color: #EE412C;
}
.archives {
	margin-top: 30px;
}
.read_more {
	margin-top: 10px;
}
/*--contact--*/
/*  Contact Form  ============================================================================= */
.col{
	display: block;
	float:left;
	margin: 1% 0 1% 3.6%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_contact {
	width: 63.1%;
}
.span_1_of_contact {
	width: 33.2%;
}
.span_2_of_contact  h3,
.span_1_of_contact  h3 {
	color: #555;
	margin-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-family: 'Merriweather Sans', sans-serif;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color: #333;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#464646;
	font-size:0.8125em;
	font-family:'Museo Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
	box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-appearance:none;
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	color: #FFF;
	background: #EE412C;
	background: -webkit-gradient(linear, left top, left bottom, from(#F0755F), to(#EE412C));
	background: -webkit-linear-gradient(top, #F0755F, #EE412C);
	background: -moz-linear-gradient(top, #f0755f, #EE412C);
	background: -ms-linear-gradient(top, #f0755f, #EE412C);
	background: -o-linear-gradient(top, #f0755f, #EE412C);
	background-image: -ms-linear-gradient(top, #f0755f 0%, #EE412C 100%) url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:'Museo Sans','Helvetica Neue',Arial,Helvetica,sans-serif;
    position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background:#333 url(../images/large-button-overlay.png);
}
.contact-form input[type="submit"]:active{
	background:#333 url(../images/large-button-overlay.png);  
}
.company_address{
	padding-top:26px;
}
.company_address p{
	font-size: 13px;
	color: #333;
	line-height: 1.8em;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.company_address p span:hover{
	text-decoration:none;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_contact {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:94%;
		padding:3%; 
	}
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_contact {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_contact {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--404--*/
.page-not-found {
	padding: 30px 0;
}
.page-not-found h1 {
	font-size: 15em;
	color: #F0F0F0;
	text-align: center;
	text-shadow: 1px 1px 6px #AAA;
	-moz-text-shadow: 1px 1px 6px #aaa;
	-webkit-text-shadow: 1px 1px 6px #aaa;
	-o-text-shadow: 1px 1px 6px #aaa;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}	
}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 13px;
	}
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 13px;
	}
	.test-meta {
		padding: 10px 0;
	}
	.span_2_of_3 {
		padding: 1.1% 2.5%;
	}
	.content-middle{
		padding:20px 0 10px;
	}
	.testimonials h3, .sidebar h3 {
		font-size: 12px;
		font-weight:normal;
	}
	.search-bar {
		margin-top: -4%;
	}
}
@media (max-width:800px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 11px;
	}
	.test-meta {
		padding:0px 0 2px;
	}
	.span_2_of_3 {
		padding:0.6% 2.5%;
	}
	.content-middle{
		padding:20px 0 10px;
	}
	.testimonials h3, .sidebar h3 {
		font-size: 12px;
		font-weight:normal;
	}
	.search-bar {
		margin-top: -4%;
	}
	span.user {
		font-size: 2em;
	}
	.bottom-grid1 h3, .bottom-grid2 h3 {
		font-size: 20px;
	}
	.list-1 li a {
		font-size: 12px;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 11px;
	}
	.test-meta {
		padding:0px 0 2px;
	}
	.span_2_of_3 {
		padding:0.6% 2.5%;
	}
	.content-middle{
		padding:20px 0 10px;
	}
	.testimonials h3, .sidebar h3 {
		font-size: 12px;
		font-weight:normal;
	}
	.search-bar {
		margin-top: -8%;
	}
	span.user {
		font-size: 2em;
	}
	.bottom-grid1 h3, .bottom-grid2 h3 {
		font-size: 20px;
	}
	.list-1 li a {
		font-size: 12px;
	}
	.bottom-grid1 {
		width:100%;
		float:none;
		margin-right:0;
	}
	.bottom-grid2 {
		float:none;
		width:100%;
		margin-right:0%;
	}
	.span_1_of_a {
		width:100%;
		float:none;
	}
	.span_2_of_a {
		width:100%;
	}
	.span_2_of_services {
		width:100%;
	}
	.sidebar2 {
		width:100%;
	}
}
@media (max-width:480px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 11px;
	}
	.test-meta {
		padding:0px 0 2px;
	}
	.span_2_of_3 {
		padding:0.6% 2.5%;
	}
	.content-middle{
		padding:20px 0 10px;
	}
	.testimonials h3, .sidebar h3 {
		font-size: 12px;
		font-weight:normal;
	}
	.search-bar {
		margin-top: -6%;
	}
	span.user {
		font-size: 2em;
	}
	.bottom-grid1 h3, .bottom-grid2 h3 {
		font-size: 20px;
	}
	.list-1 li a {
		font-size: 12px;
	}
	.bottom-grid1 {
		width:100%;
		float:none;
		margin-right:0;
	}
	.bottom-grid2 {
		float:none;
		width:100%;
		margin-right:0%;
	}
	.span_1_of_a {
		width:100%;
		float:none;
	}
	.span_2_of_a {
		width:100%;
	}
	.span_2_of_services {
		width:100%;
	}
	.sidebar2 {
		width:100%;
	}
	.logo {
		width: 40%;
	}
	.search-bar input[type="text"] {
		width: 135px;
	}
	.top-nav ul li a {
		padding: 12px 17px;
	}
	.top-nav {
		padding: 20px 0;	
	}
}
@media (max-width:320px){
	.wrap{
		width:90%;
	}	
	p.paragraph a {
		font-size: 11px;
	}
	.test-meta {
		padding:0px 0 2px;
	}
	.span_2_of_3 {
		padding:0.6% 2.5%;
	}
	.content-middle{
		padding:20px 0 10px;
	}
	.testimonials h3, .sidebar h3 {
		font-size: 12px;
		font-weight:normal;
	}
	.search-bar {
		margin-top:6%;
		float:none;
	}
	span.user {
		font-size: 2em;
	}
	.bottom-grid1 h3, .bottom-grid2 h3 {
		font-size: 20px;
	}
	.list-1 li a {
		font-size: 12px;
	}
	.bottom-grid1 {
		width:100%;
		float:none;
		margin-right:0;
	}
	.bottom-grid2 {
		float:none;
		width:100%;
		margin-right:0%;
	}
	.span_1_of_a {
		width:100%;
		float:none;
	}
	.span_2_of_a {
		width:100%;
	}
	.span_2_of_services {
		width:100%;
	}
	.sidebar2 {
		width:100%;
	}
	.logo {
		width: 40%;
		float:none;
	}
	.search-bar input[type="text"] {
		width: 135px;
	}
	.top-nav ul li a {
		padding: 10px 2px;
	}
	.top-nav {
		padding: 20px 0;	
	}
	.follow_icon {
		float:none;
		margin-top: -4%;
	}
	.span_2_of_contact h3, .span_1_of_contact h3 {
		font-size: 1.2em;
	}
	.heading h3{
		font-size: 1.2em;
	}
	.offers_list h2, .archives h2 {
		font-size: 1.2em;
	}
}




